<!--<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner row">
      <div class="carousel active" data-interval="2000">
        <img src="./assets/img/logoGiant.png" class="d-block w-100" alt="...">
        <img src="./assets/img/logoGT.png" class="d-block w-100" alt="...">
        <img src="./assets/img/logoGW.png" class="d-block w-100" alt="...">
        <img src="./assets/img/logoMaxxis.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel col-3" data-interval="2000">
        <img src="./assets/img/logoOrbea.png" class="d-block w-100" alt="...">
        <img src="./assets/img/logoRockShox.png" class="d-block w-100" alt="...">
        <img src="./assets/img/logoSantaCruz.png" class="d-block w-100" alt="...">
        <img src="./assets/img/logoScott.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel col-3" data-interval="2000">
          <img src="./assets/img/logoShimano.png" class="d-block w-100" alt="...">
          <img src="./assets/img/logoSram.png" class="d-block w-100" alt="...">
          <img src="./assets/img/logoSpecialized.png" class="d-block w-100" alt="...">
          <img src="./assets/img/logoTrek.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>-->
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
      </div>
    </div>
  </div>